---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import DonationIframe from '../components/DonationIframe.svelte';
import VideoCTA from "../components/VideoCTA.svelte";
import { getEntry, render } from 'astro:content';

const DonatePage = await getEntry('pages', 'donate');
const { Content } = await render(DonatePage);
---
<Layout title="Donate to Almost Home Wyoming">
    <Hero headline={DonatePage.data.title} body={DonatePage.data.subTitle}></Hero>
    <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
      <div class="lg:inset-y-0 lg:left-0">
        <img
          class="relative aspect-square"
          src={DonatePage.data.imgSrc}
          alt="almost home yard sale event with family"
        />
        <div class="bg-white my-8 max-w-fit mx-auto shadow overflow-hidden sm:rounded-lg">

        <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Ways to donate
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Check, card, or direct
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">By Mail</dt>
            <dd class="mt-1 text-sm text-gray-900">
              P.O. Box 44, Lander, WY, 82520.
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Meridian Trust
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              Meridian Trust Bank , 873 Main St., Lander, WY, 82520
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="paragraph mx-auto w-full max-w-xl lg:mx-0">
      <Content></Content>
    </div>
  </div>
  <div class="lg:col-start-2 lg:pl-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
      <h2 class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
          {DonatePage.data.subTitle}
      </h2>
      <DonationIframe/>
    </div>
  </div>
</div>
<VideoCTA />
</Layout>
