---
import { type CollectionEntry, getCollection } from 'astro:content';
import StoryLayout from '../../layouts/StoryLayout.astro';
import { render } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.svelte";

export async function getStaticPaths() {
	const stories = await getCollection('stories');
	return stories.map((story) => ({
		params: { slug: story.id },
		props: story,
	}));
}
type Props = CollectionEntry<'stories'>;

const story = Astro.props;
const { Content } = await render(story);
---
<Layout title={story.data.title}>
	<Hero headline={story.data.title} image={story.data.imgSrc} body={story.data.subTitle}></Hero>
	<main class="hidden lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
      <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
        <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
        </svg>
        <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
        </svg>
      </div>
      <div class="prose max-w-prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
        <Content></Content>
      </div>
  </main>
</Layout>