---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.svelte';
import Hero from '../../components/Hero.svelte';

const stories = (await getCollection('stories')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<Layout title="Our stories">
  <main class="relative mx-auto">
    <Hero headline="Our stories" body="Read about our organization"></Hero>
    <section class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {stories.map((story, index) => (
        <Card story={story} key={index}></Card>
      ))}
    </section>
  </main>
</Layout>
