---
import C4CBlueLogo from "../assets/images/C4C-LCF-Blue-Logo.png";
import WCFLogo from "../assets/images/WCF-Logo.JPG";
import { Image } from 'astro:assets';
---
<div class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <p class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">2025 Wyoming Community Foundation Grant</p>
    <div class="mt-10 grid gap-4 sm:mt-16">
      <div class="relative lg:row-span-1 lg:col-span-1 col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-4xl"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
          <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center"><em class="">Dear Friends of Almost Home Wyoming,</em></p>
            <br/>
              <p class="text-gray-600 prose">We are excited to announce that Almost Home Wyoming has received a generous grant from the <a class="decoration-purple-600 underline font-normal" href="https://www.landercommunityfoundation.org/challenge-for-charities-overview">Wyoming Community Foundation</a>! This grant will help us to continue our mission of lending a helping hand to those without a home.</p>
              <br />
            <p class="text-gray-600">We would like to thank the Wyoming Community Foundation, for their continued compassion and assistance as we try to alleviate homelessness in our community.</p>
            <br/>
            <p class="prose text-gray-600">
              <em class="italic">With gratitude, from the Almost Home Wyoming team</em>
            </p>
          </div>
          <div class="sm:py-10 sm:px-10">
              <Image class="size-full object-cover object-top"
                     src={WCFLogo} alt="Wyoming Community Foundation Logo and text" />
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-l-4xl"></div>
      </div>
    </div>
  </div>
</div>
