@import "tailwindcss";

@theme {
  --color-t-black: #333333;
  --color-t-orange: #feb358;
  --color-t-blue: #3c78e0;
  --color-t-teal: #50bec1;
}



@layer base {
  h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-900);
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-900);
  }
  .paragraph > p {
    padding-top: 1.2rem;
    padding-bottom: 1.4rem;
    font-size: var(--text-lg);
    font-kerning: var(--leading-loose);
    color: var(--color-gray-600);
    margin: 0 auto 0 auto;
  }
  .paragraph > p > strong {
    text-decoration-line: underline;
    text-decoration: var(--color-purple-600);
    font-weight: var(--font-weight-bold);
  }
  article a {
    color: var(--color-purple-600);
    text-decoration-color: var(--color-purple-600);
    text-decoration-line: underline;
    @apply inline-flex items-center rounded-md bg-purple-400/10 px-2 py-1 text-xs font-medium text-purple-400 ring-1 ring-purple-400/30 ring-inset;
  }
}
